# Directorios de Entornos Virtuales
.venv/
venv/
env/

# Archivos de PyCharm
.idea/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de Docker y Logs
*.log
*.tmp

# Scripts de Control Excluidos (Solicitud de Usuario)
*.bat